<!DOCTYPE html>
<!-- <script>history.pushState({}, null, '/login')</script> -->

<body>
    <form method="post" action="/login">
        Email:<br>
        <input type="text" name="email">
        <br>
        <input type="submit" value="Login / Signup">
    </form>
</body>

</html>