<!DOCTYPE html>
<!-- <script>history.pushState({}, null, '/login')</script> -->

<body>
    <form method="post" action="/signup">
        First Name:<br>
        <input type="text" name="firstName">
        <br>
        Last Name:<br>
        <input type="text" name="lastName">
        <br>
        <input type="submit" value="Create Account">
    </form>
</body>

</html>